* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 50vh auto;
  transform: translateY(-50%);
  border-radius: 3px;
  background: #eeeeee;
  height: 500px;
  width: 300px;
  padding: 10px
}

.counter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.watch-state {
  font-size: 16px;
}

.watch-state.initial {
  color: #aa00ff;
}

.watch-state.running {
  color: #388e3c;
}

.watch-state.stopped {
  color: #e64a19;
}

.duration {
  font-size: 24px;
  font-weight: 600;
}

.button {
  width: 80px;
  height: 30px;
  background: #2567d9;
  border: 1px solid #2567d9;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-right: 5px;
}

.history {
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.history .history-item {
  font-size: 24px;
  list-style: none;
  margin-left: 10px;
}
